@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #222222 !important; */
  background-color: #171717 !important;

}

body {
  color: white;
}