@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #171717 !important;
}

body {
  color: white;
}

.patch {
  max-width: none;
}

.odd {
  background-color: rgb(39 39 42 / var(--tw-bg-opacity)) !important;
}

.even {
  background-color: #1b1b1b;
}

tr:nth-child(odd) {
  background-color: rgb(39 39 42 / var(--tw-bg-opacity)) !important;
}

tr:nth-child(even) {
  background-color: #1b1b1b;
}

.slide {
  transition: 1s;
  position: absolute;
  z-index: 200000;
  opacity: 0;
  right: 0;
  bottom: 0;
}